@charset "UTF-8";

@font-face {
    font-family: 'calculator';
    src: url(Fontes/Calculator.ttf);
}


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagens/background-4.jpg);
    background-position: center center;
    height: 95vh;
}
nav{
    display: flex;
    background-color: #526d70d2;
    width: 100vw;
    height: 25px;
    padding: 5px;
}
nav button{
    width: 30px;
    height: 20px;  
    background-color: #8c00ff;
    margin-right: 10px;  
}

#tema-1{
    background-color: #6ce9fac0;
}

#tema-2{
    background-color: #4AE89Bc0;
}





header, section, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
header h1{
    /*color: #526d70;*/
    color: #526d70d2;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #526d70d2;
    width: 800px;
    height: 450px;
    border-radius: 9px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.visor{
    width: 250px;
    height: 53px;
    text-align: right;
    border: 1px solid  #6ce9fa;
    font-family: 'calculator';
    font-size: 1.5em;
    color: #0000ffa6;
    overflow: auto;
    
}
::-webkit-scrollbar{
    background-color: #333;
    height: 4px;
    width: 3px;
    border-radius: 10px;
}

table{
    font-family: 'calculator';
    font-size: 1.5em;
    color: #0000ffa6;
    text-align: center;
    min-width: 250px;
    min-height: 300px;
    border-collapse: collapse;
    background-color: #6ce9fac0;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.267);
}


td{
    border: 1px solid #6ce9fa;
    border-radius: 10px;
}
.destaque{
    width: 50px;
}

.container button{
    font-family: 'calculator';
    font-size: 1.2em;
    background-color: #6ce9fa;
    border-radius: 3px;
    border: none;
    color: #0000ffb9;
    min-width: 40px;
    min-height: 40px;  
    padding: 5px;  
    margin: 3px;
}

.container button:hover{
    cursor: pointer;
    background-color: #526D70;
    color: white;
}

footer{
    background-color: #526d70d2;
    margin-top: 20px;
    height: 38px;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1em;
}
footer a{
    text-decoration: none;
    color: #6ce9fa;
    margin-left: 3px;
    
}
footer a:hover{
    cursor: pointer;
    color: #8c00ff;
    text-decoration: underline;
}